@media screen and (min-width: 640px) {
  .brandingContainer {
    width: 1122px;
    height: 666px;
    border-style: solid;
    margin-left: 30px;
    margin-top: 24px;
    margin-right: 33px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    /* grayscale / divider */
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .brandingText {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #4b506d;
    margin-left: 18px;
    border: 1px solid #c5c7cd;
    width: 356px;
    padding: 10px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .row1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .row2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .logoItemContainer {
    width: 325px;
  }
  .logoInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logoTitle {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 171%;
    /* or 21px */

    letter-spacing: 0.3px;
    text-transform: uppercase;

    /* grayscale / gray */

    color: #9fa2b4;
  }
  .uploadButton {
    background: #007aff;
    padding: 7px 15px;
    border-radius: 8px;
    color: white;
    border: none;
    text-align: center;
    outline: none;
    font-size: 14px;
    cursor: pointer;
  
  }
  .logoContainer {
    margin-top: 10px;
    width: 325px;
    height: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a257d;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  }
  .logo {
    margin: 10px;
    color: white;
    width: 300px;
    max-height: 140px;
  }
  .backgroundTitle {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 171%;
    /* or 21px */

    letter-spacing: 0.3px;
    text-transform: uppercase;

    /* grayscale / gray */

    color: #9fa2b4;
    margin-top: 15px;
  }
  .changeColourContainer {
    background: #4a257d;
    width: 325px;
    border-radius: 8px;
    color: white;
    display: flex;
    height: 54px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 4px 5px 0px;
    position: relative;
    border: 1px solid #dfe0eb;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  }
  .hex,
  .rgb {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .plus {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: white;
    cursor: pointer;
  }
  .colourPicker {
    position: absolute;
    bottom: -270px;
    z-index: 11;
    right: 0;
   
    
  }
  .cross{
    float: right;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
  }
  .divider {
    margin: 25px 0;
    width: 100%;
    height: 1px;
    background-color: #dfe0eb;
  }
  .selectFont {
    width: 325px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    height: 54px;
    background: #ffffff;
    /* grayscale / divider */

    border: 1px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 20px;
    outline: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.2px;
    color: #4b506d;
  }
  .option {
    padding: 20px;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .preview {
    background: #2d9cdb;
    box-shadow: 0px 4px 12px rgba(175, 235, 200, 0.42);
    border-radius: 8px;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    color: white;
    border: none;
    outline: none;
  }
  .save {
    background: #27ae60;
    box-shadow: 0px 4px 12px rgba(175, 235, 200, 0.42);
    border-radius: 8px;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
