@media screen and (min-width: 640px) {
  .body-style {
    background-color: #363740;
    font-family: "Mulish", sans-serif;
  }
  .loginForm {
    display: flex;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    width: 380px;
    height: 653px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
  }
  .flexContent {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcomeBack {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #4b506d;
  }
  .loginDescription {
    margin-top: -10px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #9fa2b4;
  }
  .orPTag {
    text-align: center;
    /* Reg 14 (0.3 px) */
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.3px;

    /* grayscale / gray */

    color: #9fa2b4;
  }
  .socialWrap {
    width: 100%;
    margin-top: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .btnApple {
    width: 149px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #ced8e0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #4b4b4b;
  }
  .btnGoogle {
    cursor: pointer;
    width: 149px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #ced8e0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.01em;
    text-transform: uppercase;

    /* paragraph_text */

    color: #4b4b4b;
  }
  .registerMessage {
    /* Reg 14 (0.3 px) */

    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.3px;

    /* grayscale / gray */

    color: #9fa2b4;
  }
  .registerLink {
    /* Semibold 14 (0.2 px) */

    font-family: "Mulish", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Logo Blue */

    color: #0182fe;
  }
}
