@media screen and (min-width: 640px) {
  .registerForm {
    display: flex;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    width: 380px;
    height: 582px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
  }

  .flexContent {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome {
    /* Bold 24 (0.3 px) */
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    width: 316px;
    margin-top: 10%;
    /* grayscale / gray dark */

    color: #4b506d;
  }
  .registerDescription {
    /* Reg 14 (0.3 px) */
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.3px;
    /* grayscale / gray */
    color: #9fa2b4;
    margin-top: -10px;
  }
  .formWrapper {
    margin-top: 15%;
  }
  .alreadyHaveAccount {
    /* Reg 14 (0.3 px) */
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.3px;

    /* grayscale / gray */

    color: #9fa2b4;
    margin-top: 10%;
  }
  .alreadyHaveAccount a {
    /* Semibold 14 (0.2 px) */

    font-family: "Mulish", sans-serif;
    text-decoration: none;
    /* Semibold 14 (0.2 px) */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.2px;

    /* Logo Blue */

    color: #0182fe;
  }
  .loginEmailWrapper {
    margin-top: 10%;
    width: 100%;
  }
  .loginEmailLabel {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    height: 16px;
    /* grayscale / gray */
    color: #9fa2b4;
  }
  .loginEmailInput {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: #fcfdfe;
    border: 1px solid #f0f1f7;
    box-sizing: border-box;
    border-radius: 8px;
    color: #4b506d;
    width: 316px;
    height: 40px;
    text-indent: 20px;
  }
  .loginPasswordWrapper {
    width: 100%;
  }
  .loginPasswordLabel {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    /* grayscale / gray */
    color: #9fa2b4;
  }
  .loginPasswordInput {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: #fcfdfe;
    border: 1px solid #f0f1f7;
    box-sizing: border-box;
    border-radius: 8px;
    color: #4b506d;
    width: 100%;
    height: 40px;
    text-indent: 20px;
  }
  .loginForgotPassword {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    text-align: right;
    letter-spacing: 0.1px;

    /* grayscale / gray */

    color: #9fa2b4;
  }
  .loginForgotPassword a {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    text-align: right;
    letter-spacing: 0.1px;

    /* grayscale / gray */

    color: #9fa2b4;
    text-decoration: none;
    outline: none;
  }
  .loginForgotPassword a:visited {
    color: #9fa2b4;
  }
  .loginPasswordTextWrapper,
  .loginWrapperPasswrap {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  .eyeButton {
    float: right;
    margin-left: -50px;
    margin-right: 20px;
    margin-top: 12px;
    position: relative;
    width: 16.67px;
    height: 13.33px;
    z-index: 2;
    cursor: pointer;
    background: url("/password-eye-toggle.svg");
  }

  .loginEmailWrapper input::placeholder,
  .loginPasswordWrapper input::placeholder {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.3px;
    color: #4b506d;
    opacity: 0.4;
  }

  .buttonWrapper {
    margin-top: 8%;
    width: 100%;
  }

  .loginBtnSubmit {
    /* Logo Blue */
    background: #0182fe;
    box-shadow: 0px 4px 12px rgba(1, 130, 254, 0.24);
    border-radius: 8px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    letter-spacing: 0.2px;
    /* grayscale / white */
    width: 100%;
    height: 48px;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .loginBtnSubmit:active {
    border-style: none;
    outline: none;
    box-shadow: none;
    border-top-width: 0;
  }
}
