.ColumnTitle {
  text-indent: 31px;
  text-align: left;
  width: 238px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.2px;

  /* grayscale / gray */

  color: #9fa2b4;
}
.RowData {
  justify-content: center;
  text-align: left;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 170px;
}
.RowTripleDot {
  display: flex;
  justify-content: flex-end;
  padding: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ColumnWrapper {
  width: 511px;
  display: flex;
  flex-direction: row;
  border: 1px solid #dfe0eb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box {
  width: 511px;
  border-top: transparent;
  border: 1px solid #dfe0eb;
}
.divider {
  width: 511px;
  margin-top: 0px;
  border: 1px solid #dfe0eb;
}
.flexRow {
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 0.1px;

  /* grayscale / gray dark */

  color: #4b506d;
  display: flex;
  flex-direction: row;
}
.tableContainer {
  margin-top: 63px;
  width: 512px;
  height: 505px;
}
.Pagination {
  height: 50px;
}
.PaginationText {
  width: 184px;
  height: 34px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: right;
  letter-spacing: 0.3px;

  /* grayscale / gray */

  color: #9fa2b4;
  margin-left: 296px;
  margin-top: 32px;
}
