.MainDiv {
  width: 1185px;
  height: 1234px;
  background: #f7f8fc;
}
.Content {
  width: 1122px;
  height: 1076px;
  background: #f7f8fc;
  margin-top: 54px;
  margin-left: 30px;
  margin-right: 33px;
  margin-bottom: 30px;
}
.analytics {
  width: 1122px;
  height: 134px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0;
}
.analyticsCard {
  width: 258px;
  height: 134px;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 8px;
}
.analyticsCard:hover {
  color: #0182fe !important;
  border-color: #0182fe;
}
.analyticsCard:hover .analyticsCardTitle {
  color: #0182fe !important;
}
.analyticsCard:hover .analyticsCardNumber {
  color: #0182fe !important;
}
.analyticsCardTitle {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #9fa2b4;
  margin-bottom: 0;
}
.analyticsCardNumber {
  margin-top: 12px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  color: #252733;
}
.recentVideos {
  width: 1122px;
  height: 546px;
  margin-top: 30px;
  margin-bottom: 0;
  border-style: solid;
}
.scriptsAndTasks {
  width: 1122px;
  height: 336px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recentMainVideos {
  width: 1058px;
  height: 245px;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 41px;
}
.videosCard {
  width: 335px;
  height: 242px;
  border-style: solid;
}
.latestScripts {
  width: 546px;
  height: 336px;
  border-style: solid;
}
.tasks {
  width: 546px;
  height: 336px;
  border-style: solid;
}
.recentVideosWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}
.recentVideosTextWrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 48px;
}
.recentVideosText {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
  margin: 0;
}
.recentVideosAsOf {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9fa2b4;
  margin: 0;
}
.recordVideo {
  background: #eb5757;
  box-shadow: 0px 4px 12px rgba(175, 235, 200, 0.42);
  border-radius: 8px;
  width: 186px;
  height: 40px;
  border: none;
  outline: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
