.Modal {
	width: 546px;
	height: 222px;
	margin-left: 502px;
	margin-top: 120px;
	outline: none;
	border: none;
	background: #ffffff;
	border: 0.5px solid #dfe0eb;
	box-sizing: border-box;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	z-index: 9999;
}
.Overlay {
	background: #4b506d;
	opacity: 0.6;
	z-index: 9999;
}
.closeButton {
	width: 24px;
	height: 24px;
	background-image: url("/closeButton.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: white;
	outline: none;
	position: relative;
	left: 518px;
	top: 5px;
	cursor: pointer;
}
.content {
	position: absolute;
	width: 482px;
	height: 354px;
	margin-bottom: 36px;
	margin-left: 32px;
	margin-right: 32px;
}
.themeDescription {
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #252733;
	margin-top: 0;
	margin-bottom: 0;
}
.themeList {
	width: 482px;
	height: 309px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 15px;
	padding-right: 14px;
}
.themeList::-webkit-scrollbar {
	margin: 10px;
	width: 0.5em;
}

.themeList::-webkit-scrollbar-track {
	box-shadow: transparent;
	border: solid 11px transparent;
}

.themeList::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #c4c4c4;
	outline: 1px solid slategrey;
}
.theme1 {
	background: linear-gradient(262.82deg, #bd30ff 0%, #ed2e54 100%);
	border-radius: 8px;
	width: 482px;
	height: 93px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}
.theme2 {
	background: linear-gradient(262.82deg, #937bd8 0%, #4a2e99 100%);
	border-radius: 8px;
	width: 482px;
	height: 93px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	margin-top: 15px;
}
.theme3 {
	background: linear-gradient(258.09deg, #4190e6 2.46%, #003875 100%);
	border-radius: 8px;
	width: 482px;
	height: 93px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	margin-top: 15px;
}
